/WebApplicationExercises/WebApplicationExercises/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/WebApplicationExercises/WebApplicationExercises/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebApplicationExercises/WebApplicationExercises/obj/Debug/WebApplicationExercises.csproj.CopyComplete
/WebApplicationExercises/WebApplicationExercises/obj/Debug/WebApplicationExercises.csproj.CoreCompileInputs.cache
/WebApplicationExercises/WebApplicationExercises/obj/Debug/WebApplicationExercises.csproj.FileListAbsolute.txt
/WebApplicationExercises/WebApplicationExercises/obj/Debug/WebApplicationExercises.dll
/WebApplicationExercises/WebApplicationExercises/obj/Debug/WebApplicationExercises.pdb
