@*@
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    호출 URL
    https://localhost:44383/HelloWorld/Welcome?name=Scott&numTimes=4
*@

@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
<ul>
    @for (int i = 0; i < ViewBag.numTimes; i++)
    {
        <li>@ViewBag.Message</li>
    }
</ul>